{% load widget_tweaks %}

<div class="container-bar">
  <div class="side-panel">
    <div class="side-panel-logo">
      <div class="logo-title">
        <p>Ghana WebLUCIS</p>
      </div>
      <div class="info">
        <i class="bi bi-info-circle-fill"></i>
        <i class="bi bi-share-fill"></i>
      </div>
    </div>
  </div>

  <div class="tab">
    <button class="tablinks" onclick="clickHandle(event, 'Region')" id="defaultOpen"><i class="bi bi-globe-europe-africa"></i>
      <span class="hover-text">Region</span></button>
    <button class="tablinks" onclick="clickHandle(event, 'Buffer')"><i class="bi bi-stack"></i>
      <span class="hover-text">Buffer</span></button>
    <button class="tablinks" onclick="clickHandle(event, 'Settings')"><i class="bi bi-sliders"></i>
      <span class="hover-text">Settings</span></button>
  </div>

  <div id="Region" class="tabcontent">
    <form id="district_form">
      {% csrf_token %}
      <label for="{{ form.region.id_for_label }}">{{ form.region.label }}</label>
      {% render_field form.region class="form-control mb-2" hx-get="/load_districts/" hx-target="#id_district" %}

      <label for="{{ form.district.id_for_label }}">{{ form.district.label }}</label>
      {% render_field form.district class="form-control mb-3" %}

      <div class="align-self-end">
        <button id="show-mmda-btn" class="btn btn-primary" type="submit">Submit</button>
        <button id="show-buffer-btn" class="btn-sm">Display Buffer</button>
      </div>
    </form>
  </div>

  <div id="Buffer" class="tabcontent">
    <form id="buffer_form">
      {% csrf_token %}
      <label for="{{ form_buffer.distance.id_for_label }}">{{ form_buffer.distance.label }}</label>
      {% render_field form_buffer.distance class="form-control mb-2" %}

      <label for="{{ form_buffer.unit.id_for_label }}">{{ form_buffer.unit.label }}</label>
      {% render_field form_buffer.unit class="form-control mb-3" %}

      <div class="align-self-end">
        <button id="show-buffer-btn" class="btn btn-primary" type="submit">Run</button>
      </div>
    </form>
  </div>

  <div id="Settings" class="tabcontent">
    {% block new_form %}
      {% include "partials/reclassify_form.html" %}
    {% endblock %}
  </div>

</div>