{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!--  Load the tag library-->
  {% load django_bootstrap5 %}
  <!--  Load CSS and JavaScript-->
  {% bootstrap_css %}
  {% bootstrap_javascript %}
  <!-- Load htmx -->
  <script src="https://unpkg.com/htmx.org@1.9.5"
    integrity="sha384-xcuj3WpfgjlKF+FXhSQFQ0ZNr39ln+hwjN3npfM9VBnUskLolQAcN80McRIVOPuO"
    crossorigin="anonymous"></script>
  <!-- Tab CSS and ICON-->
  <link rel="stylesheet" type="text/css" href="{% static 'tab.css' %}">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    integrity="sha512-OKqUSGxH1+Os0p0JljhI0eGEzxmowMFGS+MFnssMFeLd9pEB+ig2C89L1pI2azGxu8qA/f0jvNT2i3x7G5O5Pw=="
    crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
  <script src="{% static 'Map/tab_click.js' %}" defer></script>
  <!-- Custom CSS -->
  <link rel="stylesheet" type="text/css" href="{% static 'Map/main.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'Map/header_tab.css' %}">
  <link href='https://api.mapbox.com/mapbox-gl-js/v2.10.1/mapbox-gl.css' rel='stylesheet' />

  {% if is_map %}
  <link href="https://api.tiles.mapbox.com/mapbox-gl-js/v0.44.1/mapbox-gl.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{% static 'flowchart_utils.css' %}">
  <script src="https://api.tiles.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.js"></script>
  <script src="https://unpkg.com/deck.gl@latest/dist.min.js"></script>
  <script type="module" src="{% static 'Map/AJAX_multiple.js' %}" defer></script>
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/chroma-js/2.1.1/chroma.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.min.js"></script>
  <script src="https://d3js.org/d3.v7.min.js"></script>
  <script type="module" src="{% static 'Map/header_tab.js' %}"></script>
  <script type="module" src="{% static 'Map/colorPalette.js' %}"></script>
  <script type="module" src="{% static 'Map/d3_flowchart.js' %}"></script>
  <script src="https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lz-string/1.4.4/lz-string.min.js"></script>


  {% endif %}
  {% if title %}
  <title>WebLUCIS - {{ title }}</title>
  {% else %}
  <title>WebLUCIS</title>
  {% endif %}
</head>

<body>
  <!-- sidebar content -->
  <div class="container-fluid">
    <!-- Sidebar -->
    <div id="sidebar-wrapper" class="row collapse collapse-horizontal show">
      {% block form %}
      {% endblock %}
    </div>
    <!-- Toggler -->
    <button id="sidebar-toggler" class="btn" data-bs-toggle="collapse" data-bs-target="#sidebar-wrapper"
      aria-expanded="false" aria-controls="collapseWidthExample" role="button" data-sidebar-toggler>
      <i id="sidebar-toggler-icon" class="bi bi-chevron-left" data-sidebar-icon></i>
    </button>

    <div id="right-sidebar-wrapper" class="row collapse collapse-horizontal">
      <!-- You can place your form or any other content here -->
      {% block right_form %}
      {% endblock %}

    </div>

    <div id="form-tab-container" class="form-tab-container">
      <button id="add-tab">+</button>
      <div id="tabs"></div>


    </div>
    <div id="popup-content"></div>
  </div>
  <div id="controls" style="position: absolute; bottom: 20px; right: 20px; z-index: 10;">
    <div id="legend-flowchart" class="legend-icon" data-legend="Legend 1">
      <i class="bi bi-star" style="width: 50px; height: 50px; cursor: pointer;"></i>
      
      
    </div>
    <div class="legend-icon" data-legend="Legend 2">
      <i class="bi bi-bricks" style="width: 50px; height: 50px; cursor: pointer;"></i>
    </div>
  </div>
  <div id="legend"
    style="position: absolute; bottom: 20px; right: 60px; z-index: 10; background: white; padding: 10px; border: 1px solid black; display: none;">
  </div>
  <!-- Modal Structure -->
  <div class="modal fade" id="legendModal" tabindex="-1" aria-labelledby="legendModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="legendModalLabel">Flowchart</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" id="modal-content-body">
          <!-- Content from d3_flowchart.html will be loaded here -->
          <div id="tree-container"></div>
           <!-- Overlay-like dynamic content -->
        <div id="modal-overlay-content" class="modal-overlay hidden">
          <div class="overlay-content">
            <button id="modal-overlay-close" class="close-btn">&times;</button>
            <div id="modal-overlay-items">
              <!-- Dynamic content will be inserted here -->
            </div>
          </div>
        </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Page Content -->
  <main class="container-fluid min-vh-100 p-4">
    <!-- Rest of your page content goes here -->

    <div class="container">
      {% block content %}
      {% endblock %}
    </div>


  </main>

  <!-- Optional JavaScript -->
  {% if is_map %}
  <script src="{% static 'Map/map.js' %}"></script>
  {% endif %}
  <script src="{% static 'Map/main.js' %}"></script>
</body>

</html>