<% extends "base.html" %>
{% block content %}
<!--    <nav id="sidebar" tabindex="-1" data-bs-keyboard="false" data-bs-backdrop="false">-->
<!--      <div class="sidebar-header">-->
<!--        <h6 class="sidebar-title d-none d-sm-block">Menu</h6>-->
<!--      </div>-->
<!--      <div class="sidebar-body">-->
<!--        <ul class="nav nav-pills flex-column align-items-start" id="menu">-->
<!--          <li class="nav-item">-->
<!--            <a class="nav-link text-truncate" href="#">-->
<!--              <i class="fs-5 bi-house"></i><span class="">Home</span>-->
<!--            </a>-->
<!--          </li>-->
<!--          <li class="nav-item">-->
<!--            <a class="nav-link text-truncate" href="#">-->
<!--              <i class="fs-5 bi-table"></i><span class="">About</span>-->
<!--            </a>-->
<!--          </li>-->
<!--          <li class="nav-item">-->
<!--            <a class="nav-link text-truncate" href="#">-->
<!--              <i class="fs-5 bi-grid"></i><span class="">Products</span>-->
<!--            </a>-->
<!--          </li>-->
<!--        </ul>-->
<!--      </div>-->
<!--    </nav>-->
{% endblock %}