/*body {*/
/*    background: #00b1a5;*/
/*    color: #333333;*/
/*    margin-top: 5rem;*/
/*}*/

#map {
    position: absolute;
    top: 10px;
    bottom: 10px;
    width: 75%;
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    overflow-x: hidden;
}

.deck-tooltip {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
    position: absolute;
    padding: 4px;
    margin: 8px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    max-width: 300px;
    font-size: 10px;
}

/* Custom CSS for the floating sidebar */
#sidebar-wrapper {
    position: fixed;
    top: 0;
    /*left: 10px; !* Adjust the initial left position as needed *!*/
    height: 90vh;
    width: 250px;
    /* Adjust the width as needed */
    overflow-y: auto;
    margin: 2rem 1rem;
    z-index: 100;
    /* Ensure the offcanvas is above other elements */
    background: #4b4b4b;
}

/* Style the toggle button */
#sidebar-toggler {
    padding: 3px 6px;
    position: fixed;
    top: 6px;
    left: 285px;
    color: black;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    margin: 2rem 0;
    background: #d9d9d9;
    border-radius: 3px;
    z-index: 101;
    /* Ensure the button is above the sidebar */
    transition: 300ms linear;
}

.no-sidebar {
    left: 20px !important;
}


/* .color-range-palette {
    display: none;
    justify-content: space-between;
} */

/* .color-range-block {
    width: 400px;
    height: 20px;
    cursor: pointer;
    border: 1px solid #000;
    /* Add border for better visibility 
}*/

#dataTable {
    border-collapse: collapse;
    margin-top: 20px;
    overflow-x: hidden;
}

#dataTable th,
#dataTable td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

.palette-row {
    display: flex;
    cursor: pointer;
    margin-bottom: 5px;
    /* Changes the cursor to a pointer to indicate clickable elements */
}

#selectedcolorpalette {
    display: flex;
    cursor: pointer;
    margin-bottom: 5px;
    border-color: darkgrey;
    border-width: 9px;
    border-style: solid;
}

.palette-row:hover {
    background-color: #f0f0f0;
    border: 2px solid darkslategrey;
}

.color {
    height: 10px;
    flex-grow: 1;
    flex-basis: calc(100% / 8);
    transition: transform 0.2s;
}

.colorpalettediv {
    padding: 15px;
    border-radius: 5px;
    background-color: lightgrey;
}

.palette-row.selected {
    border: 2px solid #000;
    /* Border for selected color */
}

.hidden {
    display: none;
}
